.el-header {
    position: relative;
    width: 100%;
    padding: 0 !important;
    height: 4.375rem !important;
    background-color: #ffffff;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.625rem;
    height: 1.625rem;
}

.screen img {
    width: 100%;
    height: 100%;
}

.headerLeft {
    float: left;
    width: 50%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.headerLeftL {
    float: left;
    width: 9.375rem;
    height: 1.875rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    margin-top: 1.25rem;
}

.headerLeftL img {
    width: 100%;
    height: 100%;
}

.headerLeftR {
    float: left;
    width: 18.75rem;
    height: 100%;
    line-height: 4.375rem;
    font-size: 0.875rem;
    color: #999999;
    text-align: center;
}

.headerRight {
    float: right;
    width: 27%;
    height: 100%;
    margin-right: 3%;
}

.headerRight1 {
    float: right;
    width: 1.625rem;
    height: 1.625rem;
    margin-top: 1.375rem;
    margin-left: 10%;
}

.headerRight1 img {
    width: 100%;
    height: 100%;
}

.headerRight2 {
    float: right;
    width: 1.75rem;
    height: 1.75rem;
    margin-top: 1.3125rem;
    margin-left: 10%;
}

.headerRight2 img {
    width: 100%;
    height: 100%;
}

.headerRightUser {
    float: right;
    width: 36%;
    height: 100%;
}

.headerRightUserName {
    float: right;
    width: auto;
    height: 100%;
    margin-left: 1.875rem;
    line-height: 4.375rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #333333;
}

.headerRight3 {
    float: right;
    width: 2.1875rem;
    height: 2.1875rem;
    margin-top: 1.0625rem;
}

.headerRight3 img {
    width: 100%;
    height: 100%;
}
.el-container {
    height: calc(100vh - 4.375rem);
 }
.el-aside {
    width: 14% !important;
    height: 100%;
    padding-top: 1.5625rem;
    background-color: #2e68ea;
}

.menu {
    width: 100%;
    height: 100%;
}

.el-menu-item {
    width: 100%;
    height: 5rem !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    padding-left: 11% !important;
    padding-right: 0 !important;
}

.el-submenu__title {
    height: 5rem !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    padding-left: 11% !important;
    padding-right: 0 !important;
}

.menuIcon {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 0;
    margin-right: 11%;
}

.menuIcon img {
    width: 100%;
    height: 100%;
}

.el-submenu__title i {
    color: #ffffff !important;
}

.el-menu-item-group__title {
    padding: 0 !important;
}

.i {
    height: 3.5rem !important;
    padding: 0 !important;
    padding-left: 35% !important;
} 

.menuM {
    float: left;
    width: auto;
    height: 2.5rem;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

  
.el-main {
    width: 86% !important;
    height: 100%;
    padding-top: 0 !important;
    padding-bottom: 1.25rem !important;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
    background-color: #ecebf8;
}
