
*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  
  #app{
    height: 100vh;
  }
  /* 两端对齐 */
  .flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
