
*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
      max-width: 100%;
  }
  #app{
    height: 100vh;
  }

.flex{
    flex: 1;
    overflow: hidden;
}
  /* 两端对齐 */
  .flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* 垂直排列 */
.flexColumn{
    display: flex;
    flex-direction: column;
}
  /* 行反向对齐 */
.flexRowReverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

/* 表格复选框居中 */
.el-table-column--selection .cell{
    text-align: center;
}

.el-select{
    width: 215px;
}

.el-select-dropdown__wrap{
    margin-bottom: 0 !important;
    overflow: auto;
}
